.navbar {
  /* background-color: lightcyan !important; */
  background: rgb(159, 172, 230);
  background: radial-gradient(circle, rgba(159, 172, 230, 1) 0%, rgba(116, 235, 213, 1) 63%);

}

.navbar-brand {
  margin-left: 35px !important;
}

.foter {
  /* background-color: lightcyan !important; */
  background: linear-gradient(180deg, #74ebd5, #9face6);
  background-color: #74ebd5 !important;
  font-weight: bolder !important;
  color: black !important;
  


}

.nav-link {
  color: black !important;
  font-weight: bolder !important;
  font-size: larger !important;
}

.fa-shopping-cart,
.fa-user-circle-o {
  font-size: larger !important;
}

.card-title {
  font-weight: bolder !important;
}

.btn-primary {
  width: 100%;
  /* background-color: lightgray !important; */
}

.card {
  justify-content: space-around !important;
  align-items: center !important;
  margin: 0px auto !important;
  align-self: center !important;
  text-align: center !important;
  height: auto !important;
  box-shadow: 2px 4px 5px gray;
  margin-bottom: 33px !important;
  background: linear-gradient(to right, #74ebd5, #9face6);
  background-color: #74ebd5 !important;
}

.heading {
  text-align: center !important;
  font-weight: bolder !important;
  margin: 20px !important;
}

.heading>h1 {
  text-shadow: 2px 2px 4px white;
}

.black {
  color: black;
  font-weight: bold;
}

body {
  background: linear-gradient(90deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%);
}